html {
    min-height: 100%;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.disk {
    position: absolute;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
